<div class="hero-unit">
  <%if @checklist.user == current_user%>
    <div style="float:right;margin-top:10px;" data-icon-width="50px">
    <%= best_in_place @checklist, :private, :type=>:checkbox, :collection => ['public','private'] %>
    </div>
  <%end%>
  <%if @checklist.user == current_user%>
    <h1><%= best_in_place @checklist, :name  %></h1>
  <%else%>
    <h1><%= @checklist.name %></h1>
  <%end%>
  <%if @checklist.user == current_user%>
    <span class="desc"><%= best_in_place @checklist, :description  %></span>
  <%else%>
    <span class="desc"><%= @checklist.description %></span>
  <%end%>
</div>

<!--/Task Bar-->
<div class="task section">
    <div class="task_item" style="background:none">
    </div>
  <%=render :partial => 'task', :collection=> @checklist.tasks %>

  <% if @checklist.can_modified_by(current_user) %>
    <div class="task_item add_new">
      <p><%=link_to image_tag('/assets/add.png',width:'30px') + "Add New Task",checklist_create_task_path(@checklist)%></p>
    </div>
  <% end %>

</div>

<div class="columns section">
  <div class="column_container">
    <%=render :partial => 'column', :collection=> @checklist.columns.for_user(current_user) %>
    <!--/Add list Bar-->
    <div class="addcolumn section">
      <%=link_to image_tag('/assets/add.png',width:'45px'),checklist_create_column_path(@checklist)%>
    </div>
  </div>

</div>
