<div class="hero-unit">
<h1><%= @checklist.name %></h1>
<span><%= @checklist.description %></span>
</div>

<!--/Task Bar-->
<div class="task section">
  <%=render :partial => 'task', :collection=> @checklist.tasks %>

  <% if @checklist.can_modified_by(current_user) %>
    <div class="task_item add_new">
      <p><%=link_to "Add New Task",checklist_create_task_path(@checklist)%></p>
      <i></i>
    </div>
  <% end %>

</div>

<div class="columns section">
  <div class="column_container">
    <%=render :partial => 'column', :collection=> @checklist.columns %>
    <!--/Add list Bar-->
    <div class="addcolumn section">
      <%=link_to image_tag('/assets/add.png',width:'45px'),checklist_create_column_path(@checklist)%>
    </div>
  </div>

</div>
